.handler {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
}

.notes-titles,
.summary-titles,
.list-item,
.summary-item {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 0 2vw;
}

.notes-titles,
.summary-titles {
    background-color: gray;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.notes-list,
.summary-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 0;
}

.list-item,
.summary-item {
    display: flex;
    align-items: center;
    background-color: rgb(219, 226, 228);
    border-radius: 5px;
    padding: 2vw 2vw;
}

.options {
    display: flex;
    gap: 5px;
}

#addNew {
    align-self: flex-end;
}

.summary-titles,
.summary-item {
    padding-right: 15vw;
}

.summary-titles {
    margin-top: 100px;
}

#msg {
    color: red;
}